@{
    ViewData["Title"] = "Juego";

}
Jugador: @ViewBag.username
Puntaje actual: @ViewBag.puntajeActual
Pregunta actual: @ViewBag.preguntaActual.Enunciado
 <form method="post" action='@Url.Action("VerificarRespuesta","Home")'>
        <select id="idRespuesta" name="idRespuesta" required>
            <h2>Seleccioná una respuesta</h2>
            @foreach (Respuestas respuesta in ViewBag.respuestas)
            {
                <option value="@respuesta.IdRespuesta">@respuesta.Contenido</option>
            }
        </select>

        <input type="hidden" name="idPregunta" value="@ViewBag.preguntaActual.IdPregunta" />
        
        <button type="submit">Responder</button>
    </form>





<input type="hidden" name="verificado" value=ViewBag.verificarRespuesta>
<input type="hidden" name="rtaActual" value=ViewBag.respuestaActual>
<div id="respuesta"></div>